{% extends 'base.html' %}
{% block head %}
<style>
body
          {
          background-image:url({{url_for('static',filename='asw2.jpg')}})

          }
    </style>
{% endblock %}


{% block body %}

<h1 style =text-align:center;color:white;>Welcome to NUTRI ASSISTANT</h1><br>
<h1 style =text-align:center;color:white;>Chat with our Nutribot to achieve your goal!!<h1>
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "6be1338d-28b4-4cc9-a7f1-5325bf4f1a7a", // The ID of this integration.
      region: "jp-tok", // The region your integration is hosted in.
      serviceInstanceID: "28364df6-a229-4fbf-92ef-69db79ae1f26", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>

{% endblock %}