{% block head %}

  <style>
    
    .btn{
      text-align: center;
      text-decoration: none;
      text-decoration: underline;

    font-size:50px;
    }
    body
          {
          background-image:url({{url_for('static',filename='index.jpg')}})
          }
    .flex-parent {
            display: flex;
          }

    .jc-center {
            justify-content: center;
          }
          a:link {
            background-color: none;
          }
          
          a:visited {
            background-color: none;
          }
        
         
    </style>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   <div class="flex-parent jc-center">
    <a href="{{url_for('register')}}" class="btn Sign up for free">Sign up for free</a>
  </div>
  <br>
  <div class="flex-parent jc-center">
    <a href="{{url_for('inde')}}" class="btn Already have an account signin" style="float:right;">Already have an account signin</a>
  </div>
 
  </body>
</div>

        {% endblock %}